<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserLoginServlert</servlet-name>
  	<display-name>UserLoginServlert</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.UserLoginServler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<display-name>UserRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<display-name>UserLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.AppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<display-name>ChangePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorChangePassword</servlet-name>
  	<display-name>DoctorChangePassword</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.DoctorChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorEditProfileServlet</servlet-name>
  	<display-name>DoctorEditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.DoctorEditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<display-name>DoctorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogoutServlet</servlet-name>
  	<display-name>DoctorLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.DoctorLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatusServlet</servlet-name>
  	<display-name>UpdateStatusServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<display-name>AdminLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteDoctorServlet</servlet-name>
  	<display-name>DeleteDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.DeleteDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctorServlet</servlet-name>
  	<display-name>AddDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpecialistServlet</servlet-name>
  	<display-name>AddSpecialistServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.AddSpecialistServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDoctorServlet</servlet-name>
  	<display-name>UpdateDoctorServlet</display-name>
  	<description></description>
  	<servlet-class>com.src.controller.UpdateDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLoginServlert</servlet-name>
  	<url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/user_register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogoutServlet</servlet-name>
  	<url-pattern>/userLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/addAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/userChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorChangePassword</servlet-name>
  	<url-pattern>/doctorChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorEditProfileServlet</servlet-name>
  	<url-pattern>/doctorEditProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLoginServlet</servlet-name>
  	<url-pattern>/doctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogoutServlet</servlet-name>
  	<url-pattern>/doctorLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatusServlet</servlet-name>
  	<url-pattern>/updateStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<url-pattern>/adminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteDoctorServlet</servlet-name>
  	<url-pattern>/deleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctorServlet</servlet-name>
  	<url-pattern>/addDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpecialistServlet</servlet-name>
  	<url-pattern>/addSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDoctorServlet</servlet-name>
  	<url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
</web-app>
